.scene {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
}

.sceneGame {
  width: 100vw !important;
  height: 100vh !important;
}

.blockNebula {
  height: 150vh;
  position: absolute;
}
