@font-face {
  font-family: 'PoppinsBold';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PoppinsMedium';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.headerBox {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0%;
  height: 100vh;
  text-align: center;
  z-index: 1;
  font-family: 'PoppinsBold', sans-serif;
}



.headerH1 {
  position: absolute;
  top: 50vh;
  left: auto;
  right: auto;
  display: inline-block;
  text-align: center;
  color: #f0f0f0;
  font-size: 14vmin;
  font-weight: 900;
  transform: translate(-50%, -50%);
  font-family: 'PoppinsBold', sans-serif;
}



.headerP {
  display: inline-block;
  color: #f0f0f0;
  text-align: center;
  font-size: 2vmin;
  opacity: 0;
  font-family: 'PoppinsMedium', sans-serif;
  position: absolute;
  top: 30%;
  bottom: auto;
  left: 50%;
  right: auto;
  width: 100%;
  max-width: 70%;
  text-align: center;
  transform: translateX(-50%);
}


.headerH2Box {
  position: absolute;
  top: auto;
  bottom: 10%;
  left: 5%;
  right: auto;
  opacity: 0;
  text-align: left;
  width: 100%;
  max-width: 70%;
}

.headerH2Box>h2 {
  font-size: 40px;
  font-weight: 800;
  width: 100%;
  max-width: 50%;
}


.headerH2Box>p {
  font-family: 'PoppinsMedium', sans-serif;
  font-weight: 100;
  font-size: 16px;
  margin: auto;
  margin-top: 2.5vmin;
  width: 100%;
  max-width: 50%;
  margin-left: 0;
}



@media screen and (orientation: portrait) {
  .headerH2Box {
    font-size: 3.5vmin;
    width: 90%;
    text-align: center;
    top: auto;
    bottom: 10vh;
    left: 5%;
    right: auto;
  }

  .headerP {
    font-size: 2.5vmin;
    max-width: 90%;
  }

  .headerH1 {
    font-size: 15vmin;
  }
}



@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 6/4) {
  .headerH2Box {
    font-size: 2vmin;
    font-weight: 200;
    top: 45vh;
    bottom: auto;
    left: 5%;
    right: auto;

  }
}


@media screen and (min-aspect-ratio: 5/6) and (max-aspect-ratio: 1/1) {
  .headerH2Box {
    font-size: 2vmin;
    font-weight: 200;
    top: auto;
    bottom: 10vh;
    left: 5%;
    right: auto;

  }

}