.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  padding: get-d(40px) 0;
  border-bottom: get-d(2px) solid rgba($c-primary, 0.2);

  @include respond(lg) {
    padding: get-lg(40px) 0;
    border-bottom: get-lg(2px) solid rgba($c-primary, 0.2);
  }

  @include respond(md) {
    padding: 24px 0;
    border-bottom: 2px solid rgba($c-primary, 0.2);
  }

  &.last {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.content {
  overflow: hidden;
  opacity: 0;
  height: 0;
}

.arrow {
  width: get-d(24px);
  height: get-d(24px);
  background: url("./arrow.png") center / contain no-repeat;

  @include respond(lg) {
    width: get-lg(24px);
    height: get-lg(24px);
  }

  @include respond(md) {
    width: 16px;
    height: 16px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #FFF;
  font-family: Poppins;
  font-size: get-d(24px);
  font-style: normal;
  font-weight: 700;
  line-height: 123.832%;

  @include respond(lg) {
    font-size: get-lg(24px);
  }

  @include respond(md) {
    font-size: 16px;
  }
}